{% load static%}
<footer class="text-center text-lg-start bgcol mt-5">
  <div class="container p-4">
    <div class="row mt-4">
      <div class=" col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">About Company</h5>

        <p>
          At daily chores and security portal provide instant help regarding all household and other needs,
          we provide prechecked individuals for hire and for the best price in the market.
        </p>
        <p>
          Our team chooses best man for best job, they are thoroughly tested and verified by our experts.
        </p>
        <div class="mt-4">

          <a type="button" class="btn btn-floating btn-light btn-lg rounded-circle" style="background-color: white;"><i style="color: black; " class="fab fa-facebook-f"></i></a>
          <a type="button" class="btn btn-floating btn-light btn-lg rounded-circle" style="background-color: white;"><i style="color: black;" class="fab fa-dribbble"></i></a>
          <a type="button" class="btn btn-floating btn-light btn-lg rounded-circle" style="background-color: white;"><i style="color: black;" class="fab fa-twitter"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1">Search something</h5>

        <div class="form-outline form-white mb-4">
          <input type="text" id="formControlLg" class="form-control form-control-lg" placeholder="Type here" />
        </div>

        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Dayal Residency, Lucknow 226028</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">sudhanshuranjan3107@gmail.com</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+91-9670090088</span>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Opening hours</h5>

        <table class="table text-center text-white">
          <tbody class="fw-normal">
            <tr>
              <td>Mon - Thu:</td>
              <td>8am - 9pm</td>
            </tr>
            <tr>
              <td>Fri - Sat:</td>
              <td>8am - 1pm</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>9am - 10pm</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(197, 197, 197, 0.84);">
    ©2024
    <a class="pacifico text-black" href="{{'/'}}">Daily Chores and Security Portal</a>
  </div>
  <!-- Copyright -->
</footer>
<script src="{%static 'dcs_app/js/script.js'%}"></script>