<nav class="navbar navbar-expand-lg sticky-top" style="background-color: white;">
    <div class="container-fluid ps-4 ps-2">
    
      <h2 class="pacifico ms-5">DCSP</h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {%if request.session.session_key%}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{'/'}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{{'/careers/'}}">Careers</a>
          </li>
        </ul>
        
        <img style="height: 40px; width: 40px; border-radius: 50%; margin: 0 10px;" src="{{user.u_pic.url}}" alt="">
        
          <ul class="navbar-nav me-5">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user.u_name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{'/logout/'}}">Logout</a>
                </div>
              </li>
          </ul>
      </div>
      {%else%}
      <div style="width: 100px; " class="oswald">
        <button class="btny w-100 p-1" onclick="window.location.href='{%url 'user_login'%}';">Login</button>
      </div>
      {%endif%}
      
    </div>
  </nav>